.first-sec{               /*for fixing background image*/
  background-image: url(../project-photos/image1.png);
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}
.main-heading{
/* border: 4px solid red; */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 1rem 1rem;
background: rgb(59, 48, 48);
color: white;
letter-spacing: 10px;
}

.heading1{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
.para1{
  font-size: 1.7rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: justify;
}
                                   /* second sec */
.second-sec{
  background-image: url(../project-photos/image2.png);
  height: 800px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading2{
  position: absolute;
  color: white;
  /* border: 2px solid red; */
  margin-top: 14rem;
  margin-left: 37rem;
  background: rgb(59, 48, 48);
  padding: 1rem 2rem;
  letter-spacing: 3px;
}
.heading3{
  text-align: center;
  justify-content: center;
  align-items: center;
letter-spacing: 3px;
}
.adjust1{
  color: white;
  /* border: 2px solid red; */
  position: absolute;
  margin-top: 30rem;
  font-size: 1.8rem;
  margin-right: 7px;
  padding: 3rem 3rem;
  background: rgb(59, 48, 48);
  text-align: justify;
}

                                 /* third sec */
  .third-sec{
    background-image: url(../project-photos/image3.png);
   height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .heading4{
    position: absolute;
    color: white;
    /* border: 2px solid red; */
    margin-top: 22rem;
    margin-left: 31rem;
    padding: 1rem 1rem;
    letter-spacing: 7px;
    background: rgb(59, 48, 48);
  }


  .heading5{
    text-align: center;
    justify-content: center;
    align-items: center;
  letter-spacing: 3px;
  }
  .adjust2{
    color: white;
    /* border: 2px solid red; */
    position: absolute;
    margin-top: 35rem;
    font-size: 1.5rem;
    margin-right: 7px;
    padding: 3rem 3rem;
    background: rgb(59, 48, 48);
    text-align: justify;
  }

                              /* fourth-sec */
.fourth-sec{
  background: url(../project-photos/image1.png);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.heading6{
  position: absolute;
  color: white;
margin-top: 26rem;
/* border: 2px solid red; */
margin-left: 37rem;
padding: 2rem 2rem;
background: rgb(59, 48, 48);
letter-spacing: 6px;
}



