.html{
    font-family: Arial, Helvetica, sans-serif;
}
 img{
    width: 350px;
    border-radius: 40%;
    margin-top: 80px;
    margin-left: 80px;
}
.heading1 h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
   margin: 0 auto;
}
.heading1 h3{
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 22rem;
}
.main{
    float: right;
    margin-top: 20rem;
    margin-right: 20rem;
}

               /* body making */

.body .heading2 h3{
    font-size: 5rem;
    margin-top: 7rem;
   margin-left: 5rem;
}
.body .heading2 p{
    font-size: 1.8rem;
    margin-left: 5rem;
    margin-right: 3rem;
    text-align: justify;    /* text sab ek line me dikhta hai */
}

           /* biography making*/
li{
    text-decoration:solid;
}
.biography h2{
    margin-left: 5rem;
    margin-top: 4rem;
}
.biography li{
    margin-left: 5rem;
    padding-top: 5px;
}

                   /* footer making */
.footer p{
    text-align: end;
    font-size: 2rem;
}