nav {
display: flex;
flex-direction: row;
/* border: 2px solid red; */
height: 70px;
background: rgba(0, 137, 183, 1);
margin-top: -7px;
}
nav li{
    list-style: none;
}
.li{
 margin-left: 60rem;
 list-style: none;
 display: flex;
 flex-direction: row;
}
.li li{
    margin-left: 2rem;
    font-size: 1.5rem;
    margin-top: -1.9rem;
}
.nav-bar{
    margin-top: 1.5rem;
    margin-left: 5rem;
}
.nav-bar li{
    font-size: 1.5rem;
    margin-left: 1rem;
}
                               /* container styling */
.container{
 height: 707px;
 width: 100%;                          
 background: rgba(0, 61, 98, 1);    
 display: flex;
 flex-direction: row;                           
 }
.img img{
    height: 589px;
    margin-top: 3rem;
    width: 372px;
    margin-left: 5rem;
}
.text {
 margin-top: 15rem;
 margin-left: 16rem;
 width: 700px;
}
.heading{
    color: yellow;
    font-size: 4rem;
}
.span1{
    color: white;
    font-size: 2rem;
}
.span2{
    color: white;
    font-size: 5rem;
}
.span3{
    color: white;
    font-size: 5rem;
    margin-top: -1rem;
}
                           /* animation dene ke liye */
.span3 {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(40,end),blink-caret 0.75s step-end infinite;
    border-right: 0.15em solid orange;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink-caret{
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: orange;
    }
}

                               /* border making */
.border{
    border: 6px solid rgba(0, 102, 143, 1);
    margin-top: -0.5rem;
}

                               /* box making */
.container1{
    width: 1450px;
    height: 2500px;
    /* border: 2px solid red; */
    background: rgba(0, 50, 81, 1);
    margin-top: -2.5rem;
 }
 .container1 h2{
    text-align: center;
    padding-top: 5rem;
    color: #fff;
    font-size: 3rem;
    }
 .image p{
    color: #fff;
    font-size: 2rem;
    justify-content: space-around;
    /* border: 2px solid red; */
    margin-top: -5rem;
    width: 100%;
    padding: 1rem 0.1rem;

 }
 .image p:hover{
   color: darkblue;
   background: white;
   position: absolute;
   /* z-index: 999; */

 }
 .image {
    margin-left: 3rem;
    position: relative;
    transform: translateY(100px);
 }
 .grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 }
.image:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
.image img:hover .sajal{
    background: white;
    transform: translateY(0px);
}


                               /* footer making */
                               .border1{
                                border: 2px solid rgba(0, 102, 143, 1);
                                margin-top: -60rem;
                            }
.footer h2{
    font-size: 72px;
    text-align: center;
    color: #fff;
    margin-top: 7rem;
}
.line1{
    display: flex;
    flex-direction: row;
    margin-left: 26rem;
}
.item-1{
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
}
.item-2{
    display: flex;
    flex-direction: row;
    margin-right: 4rem;

}
.item-3{
    display: flex;
    flex-direction: row;
    margin-right: 4rem;

}
.item-1 i,p{
    color: #fff;
    font-size: 2.0rem;
}
.item-2 i,p{
    color: #fff;
    font-size: 2.0rem;

}
.item-3 i,p{
    color: #fff;
    font-size: 2.0rem;
}
.item-1 p{
    margin-top: -0.2rem;
    margin-left: 10px;
}
.item-2 p{
    margin-top: -0.2rem;
    margin-left: 10px;

}
.item-3 p{
    margin-top: -0.2rem;
    margin-left: 10px;

}


          /* line2 */
          .line2{
            display: flex;
            flex-direction: row;
            margin-left: 34rem;
            margin-top: 3rem;
        }
        .item-4{
            display: flex;
            flex-direction: row;
            margin-right: 4rem;
        }
        .item-5{
            display: flex;
            flex-direction: row;
            margin-right: 4rem;
        }
        .item-4 i,p{
            color: #fff;
            font-size: 2.0rem;
        }
        .item-5 i,p{
            color: #fff;
            font-size: 2.0rem;
        
        }
        .item-4 p{
            margin-top: -0.2rem;
            margin-left: 10px;
        }
        .item-5 p{
            margin-top: -0.2rem;
            margin-left: 10px;
        
        }

         