.nav-bar{
    /* border: 1px solid red; */
    height: 6rem;
    z-index: 999;
    position: relative;
    position: fixed;
    opacity: 1;
    /* width: 1500px; */
    width: 100%;
    background: rgba(225, 220, 220);
    margin-top: -2.9rem;
    margin-left: -5px;
}
nav h2{
    float: left;
    margin-left: 8rem;
    margin-top: 2rem;
}
ul{
    float: right;
    margin-right: 4rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}
ul li{
    margin-right: 3rem;
    list-style: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}
                                /* hero styling */
.hero{
    display: flex;
    flex-direction: row;
   justify-content: center;
   justify-content: space-evenly;
   margin-top: 3rem;
}
.hero-text{
    margin-right: 5rem;
}
.hero-text h2{
    font-size: 60px;
    font-weight: 700;
    width: 324px;
    height: 146px;
}
.hero-text p{
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: -3rem;
}
.hero img{
    border-radius: 30px;
}

                                      /* long card styling */
.long-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
   justify-content: space-evenly;
   margin-top: 6rem;
   width: 87%;
   margin-left: 4.5rem;
   height: 300px;
   box-shadow: 2px 5px 10px 0px #aaa;
}
.long-card h2{
    font-size: 40px;
   margin-left: 5rem;
}
.para{
    font-size: 20px;
    width: 500px;
  margin-left: 5rem;
  margin-top: 2rem;
  text-align: justify;
}
.flex{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 5rem;
}
.flex h2{
    margin-top: 0.9rem;
    font-size: 1rem;
    margin-left:20rem;
    float: right;
}
.long-card img{
    margin-left: 9.3rem;
}

                                           /* card styling */
 .card-box{
 display: flex;
 flex-direction: row;
 margin-top: 5rem;
 justify-content: space-evenly;
 margin-left: -3rem;
 }
 .card1{
    box-shadow: 2px 5px 10px 0px #aaa;
    width: 350px;
    height: 400px; 
 }
 .card2{
    box-shadow: 2px 5px 10px 0px #aaa;
    width: 350px;
    height: 400px; 

 }
 .card3{
    box-shadow: 2px 5px 10px 0px #aaa;
    width: 350px;
    height: 400px; 
 }
 .row{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
 }
 .row h2{
    font-size: 1rem;
    margin-left: 7rem;
    margin-top: -2px;
 }
 .row p{
    margin-top: -3px;
    margin-left: 1rem;
 }
 .h2{
    font-size: 20px;
    margin-left: 1rem;
 }
 .p{
    font-size: 14px;
    width:250px;
    margin-left: 1rem;
    text-align: justify;
 }
 .card1 img{
    width: 100%;
 }
 .card2 img{
    width: 100%;
 }
 .card3 img{
    width: 100%;
 }
                                     /* highlight section */
.highlight{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    /* border: 2px solid red; */
    height: 600px;
    width: 1300px;
    margin-left: 4rem;
    box-shadow: 2px 5px 10px 0px #aaa;
}
.highlight-text{
    margin-top: 7rem;
}
.highlight-text h2{
    font-size: 4.4rem;
    width: 600px;
    font-weight: 600;
    margin-left: 6rem;
    margin-top: -1rem;
}
.highlight-text p{
    font-size: 22px;
    width: 450px;
    font-weight: 100;
    margin-left:7rem;
    margin-top: -1rem;
}
.highlight img{
   margin-left: -22.7rem;
}
.highlight-flex{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-left: -1rem;
}
.highlight-flex p{
    margin-top: -1.3rem;
    margin-left: 7rem;
}
.highlight-flex h2{
font-size: 1.5rem;
margin-left: -7rem;
font-weight: 900;
margin-top: -26px;
}
                                               /*   see more  section  */
.see-more{
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: 3rem;
    margin-right: 5.5rem;
    /* border: 2px solid red; */
    padding: 0.1px 0.7rem;
    background: rgba(107, 70, 193, 1);

}
.see-more i{
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 0.7rem;
    background: #fff;
    border-radius: 15px;
    padding: 0.1rem 0.4rem;
}
.see-more h2{
    font-size: 1rem;
    color: #fff;
}
                            
   .line{
    height: 0.4rem;
    width: 100%;
    background: rgba(232, 232, 232, 1);
    margin-top: 9rem;
   }                                  

 
                            /* footer section */
.footer{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 100%;
    margin-top: 4rem;
    justify-content: space-between;
    box-shadow: 2px 5px 10px 0px #aaa;

}
.footer p{
    margin-top: 1.5rem;
    margin-left: 4rem;
}
.footer ul{
    margin-top: 1.4rem;
}


                                      /* posts styling */
                                     /* nav styling */
                                      .nav-bar1{
                                        /* border: 1px solid red; */
                                        height: 6rem;
                                        z-index: 999;
                                        position: relative;
                                        position: fixed;
                                        opacity: 1;
                                        /* width: 1500px; */
                                        width: 100%;
                                        background: rgba(225, 220, 220);
                                        margin-top: -0.3rem;
                                        margin-left: -5px;
                                    }
                                    nav h2{
                                        float: left;
                                        margin-left: 8rem;
                                        margin-top: 2rem;
                                    }
                                    ul{
                                        float: right;
                                        margin-right: 4rem;
                                        margin-top: 2rem;
                                        display: flex;
                                        flex-direction: row;
                                    }
                                    ul li{
                                        margin-right: 3rem;
                                        list-style: none;
                                        font-size: 20px;
                                        color: rgba(0, 0, 0, 1);
         }
 /*  front image */
                    
.image img{
    margin-top: 8rem;
    margin-left: 20rem;
    width: 788px;
    height: 396px;
}
.heading h2{
    text-align: center;
    font-size: 45px;
    margin-left: -16rem;
    margin-top: 1.5rem;
}
.flex-item{
    display: flex;
    flex-direction: row;
  margin-left: 20rem;
  margin-top: -2rem;
}
.flex-item p{
    margin-left: 2rem;
    margin-top: 1.5rem;
    font-size: 1rem;
}
.line{
    height: 0.4rem;
    width: 58%;
    background: rgba(232, 232, 232, 1);
    margin-top: 1rem;
    margin-left: 19rem;
    margin-bottom: 4rem;
}    

                            /* section styling */
.border{
    height: 1100px;
    width: 830px;
    /* border: 2px solid red; */
    margin: 0 auto;
}
.border p{
    font-weight: 100;
}
.border h1{
    font-size: 2rem;
}
.border h2{
    font-size: 1.2rem;
    font-weight: 900;
}